@import './materialize';

// Header
$header-bg: url(../img/pattern.png);
$header-height: 300px;

// Text color Function

@function set-text-color($color){
@if (lightness($color)>50) {
  @return #ffffff;
}@else{
  @return #000000;
}
}

body{
  background: $primary-color;

}

.main-header {
  background: $header-bg;
  color: #fff;
  height: $header-height;
  margin-bottom: 30px;

  h1 {
    margin: 0;
    padding-top: 30px;
  }
}
